body {
  color: #20333a;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}
