.viewport {
  background: #f7f7f5;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.logo {
  display: block;
  height: 30px;
  margin: 6vw auto;
}

.content {
  margin: 16vw auto 0;
  max-width: 290px;
  text-align: center;
}

.content img {
  display: block;
  margin: 16vw auto 0;
  max-width: 60%;
}

.panes {
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.pane {
  height: 100%;
  overflow: scroll;
  position: absolute;
  top: 0;
  transition:
    left 1s cubic-bezier(0.76, 0, 0.24, 1),
    opacity 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  width: 100%;
}

.pane.left {
  left: -100%;
  opacity: 0;
}

.pane.middle {
  left: 0;
  opacity: 1;
}

.pane.right {
  left: 100%;
  opacity: 0;
}

.typeform {
  border: none;
  display: block;
  height: 99%;
  margin: 0 auto;
  max-height: 620px;
  max-width: 620px;
  width: 100%;
}


@media screen and (min-width: 400px) {
  .logo {
    margin: 4vw auto;
  }

  .content {
    margin: 4vw auto 0;
  }

  .content img {
    margin: 6vw auto 24px;
  }
}
